ibug/face_parsing/resnet/weights/mask-prop-resnet50-fcn-14.torch filter=lfs diff=lfs merge=lfs -text
ibug/face_parsing/rtnet/weights/mask-prop-rtnet50-fcn-14.torch filter=lfs diff=lfs merge=lfs -text
